*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    background: url(bgimg.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;

}

.navbar{
    width: 85%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}

ul{
    margin-top: 2%;

}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}
ul li a{
    font-size: 15px;
    font-weight: bold;
    text-decoration:none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: darkorange;
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h2{
    font-size: 50px;
    color: peru;
    margin-bottom: 2%;
}
.info h4{
    font-size: 30px;
    color:wheat;
}
.info p{
    font-size: 15px;
    color: darkgoldenrod;
    margin-top: 2%;
}
.image{
    width: 30%;
    height: 70%;
    position: absolute;
    right: 100px;
    bottom:0;

}
.image img{
    position: absolute;
    height: 130%;
    left: 30%;
    transform: translate(-30%);
    bottom: 0;
    transition: left 3s ease;
}
.image:hover .me{
    left: 45%;
}
.icons a{
    text-decoration: none;
    color: black;
}
.icons ion-icon{
    margin-left: 7%;
    color: black;
    margin-right: -55px;
    margin-top: 3%;
    font-size: 35px;
    transition: .4s ease-in-out;
}
.icons ion-icon:hover{
    color: orange;
}
